# zależności node
node_modules/

# ustawienia edytora
.vscode/

# jeśli generujesz CSS podczas builda, możesz ignorować
static/css/output.css

# inne katalogi buildowe (jeśli używasz np. dist/)
dist/
# Terraform files
.terraform/
*.tfstate
*.tfstate.*.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
terraform.tfstate.backup
terraform/old/darwin_arm64/terraform-provider-aws_v5.95.0_x5
terraform/old/darwin_arm64/LICENSE.txt
